<main class="MenuMain">
  <h1 class="Menu-title">Edit Menu</h1>
  <div class="AddMenuContainer">
    <%= form_with(url: "/menus/#{@menu.id}/details", method: "put", class: "EditMenu") do %>
      <%= text_field_tag  'menu_name', @menu.name, placeholder: "Breakfast Menu", class: 'AddMenu-text' %>

      <div class="EditMenu-items">
        <%= render partial: "edit-menu-items-section", locals: {
            menu_items: @menu.menu_items,
        } %>
      </div>

      <%= submit_tag 'Update', class: 'AddMenu-button' %>
    <% end %>
  </div>
</main>
