<main class="MenuMain">
  <h1 class="Menu-title">Menus</h1>
  <%= form_with(url: "/menus", method: "post", class: "AddMenu") do %>
    <%= text_field_tag 'name', nil, placeholder: "Ex- Pizza", class: 'AddMenu-text' %>
    <%= submit_tag 'Add', class: 'AddMenu-button' %>
  <% end %>

  <section class="MenuSection">
    <% Menu.all.each do |menu| %>
      <%= render partial: "menu-items-section", locals: {
        menu_title: menu.name,
        menu_items: menu.menu_items
      } %>
    <% end %>
  </section>

</main>
