<h1 class="Home-title">
  Welcome to the Cafeteria homepage.
</h1>
<h3 class="Home-authenticate">
  If you are a new customer, <%= link_to "sign up here", new_user_path %>
  <br/>
  If you are an existing customer, clerk or owner, <%= link_to "sign in here", new_session_path %>
</p>
