/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #353333;
  padding: 20px 0px;
  color: whitesmoke;
  font-size: 17px;
  font-weight: 600;
  font-family: sans-serif;
}

.Navbar-brand {
  font-size: 25px;
  padding: 0px 25px;
}

.Navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Navbar-item {
  padding: 0px 35px;
}

.Navbar-item-highlight {
  background-color: white;
  height: 30px;
  width: 70px;
  padding: 0px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.Navbar-item-highlight:hover {
  background-color: #353333;
  height: 30px;
  width: 70px;
  padding: 0px 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.Navbar-item-highlight > a {
  color: #353333;
  text-decoration: none;
}

.Navbar-item-highlight:hover > a {
  color: white;
  text-decoration: none;
}

li > a {
  color: white;
  text-decoration: none;
}
