.MenuItemMain {
  margin-top: 100px;
}

.MenuItemSection {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 200px;
  padding: 40px 25px;
}

.MenuItem-title {
  font-size: 30px;
  font-weight: 600;
  font-weight: 600;
  text-align: center;
  line-height: 1.6;
  color: #453c52;
  margin-bottom: 20px;
}

.MenuItem-item {
  font-size: 14px;
  margin-left: 8px;
  margin-bottom: 6px;
  padding: 4px 0px;
  color: #453c52;
}

.AddMenuItem {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 250px;
  align-items: stretch;
  margin-bottom: 24px;
}

.AddMenuItemContainer {
  height: 50px;
  width: 440px;
  margin: 0 auto;
}

.AddMenuItem-text {
  width: 200px;
  padding: 6px 12px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
}

.AddMenuItem-price {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
}

.AddMenuItem-menu-options {
  width: 405px;
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  margin-bottom: 15px;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
}

.AddMenuItem-description {
  padding: 6px;
  font-size: 14px;
  color: #453c52;
  margin-right: 10px;
  margin-bottom: 5px;
  border: 1px solid #bfb8cc;
  border-radius: 4px;
  height: 4em;
  width: 28em;
  resize: none;
}

.AddMenuItem-button {
  display: block;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #654335;
  border: 1px solid transparent;
  border-radius: 4px;
}

.AddMenuItem-button:hover {
  display: block;
  cursor: pointer;
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: #51312e;
  border: 1px solid transparent;
  border-radius: 4px;
}

.MenuSectionDetails {
  margin-bottom: 15px;
}

.MenuSectionDetails-title {
  font-size: 15px;
  margin-left: 8px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #453c52;
}

.MenuSectionDetails-item {
  font-size: 15px;
  margin-left: 8px;
  margin-bottom: 6px;
  padding: 0px 10px;
  color: #453c52;
}
