.NewUserSection {
  margin: 0 auto;
  padding: 25px 25px;
}

.NewUseFormContainer {
  width: 200px;
  margin: 0 auto;
  margin-top: 100px;
}

.Form-section {
  margin-top: 25px;
}

.FormInput-label {
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: #333;
  margin-bottom: 8px;
}

.Form-input {
  font-size: 20px;
  padding: 8px;
  border-radius: 2px;
  border: 1px solid #bfb8cc;
}

.Form-submit {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 15px;
  margin-left: 60px;
  background-color: #654335;
  color: white;
  border: 0px;
  border-radius: 4px;
}

.Form-submit:hover {
  cursor: pointer;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 600;
  padding: 15px;
  margin-left: 60px;
  background-color: #51312e;
  color: white;
  border: 0px;
  border-radius: 4px;
}

.UserSection {
  margin: 0 auto;
  margin-top: 100px;
  padding: 0px 25px;
  width: 500px;
}

.User-title {
  line-height: 2;
  font-size: 18px;
  font-weight: 600;
  font-family: sans-serif;
  color: #453c52;
}

.UserTable {
  border-collapse: collapse;
}

.UserTable-head {
  background: #ccc;
}

.UserTable-head,
.UserTable-detail {
  border: 1px solid #ccc;
  padding: 8px;
}

.UserTable-row:hover {
  background: #d1d1d1;
}
